<section id="courses" class="container pt-5">
    <h4>Choose From Teaching Method</h4>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="live-tab" data-bs-toggle="tab" data-bs-target="#live" type="button"
          role="tab" aria-controls="live" aria-selected="true">
          Live Session
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="recorded-tab" data-bs-toggle="tab" data-bs-target="#record" type="button"
          role="tab" aria-controls="recorded" aria-selected="false">
          Recorded Class
        </button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="live" role="tabpanel" aria-labelledby="live-tab">
        <div class="row justify-content-end">
          <div class="btn-group my-3 col-auto" role="group" aria-label="Live Courses">
            <button type="button" class="btn btn-primary btn-sm" id="livePrev">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-chevron-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z">
                </path>
              </svg>
            </button>
            <button type="button" class="btn btn-primary btn-sm" id="liveNext">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
              </svg>
            </button>
          </div>
        </div>

        <div class="coursesSlider" id="liveCourseSlider">
          <div class="card" th:each="courseInfo:${liveCourse}">
            <img width="230" height="230" th:src="${courseInfo.profilePic.url}" class="card-img-top"
              th:alt="${courseInfo.profilePic.name}" />
            <div class="card-body">
              <h5 class="card-title" th:text="${courseInfo.courseName}">Course Name</h5>

              <p class="card-text" th:text="${courseInfo.teacherName}">Teacher Name</p>
              <p class=" card-text" th:text="${courseInfo.price}">Price</p>
            </div>
            <div class=" card-footer">
              <a th:href="@{/guest/course-detail/{id}(id=${courseInfo.CourseID})}" class="btn btn-primary d-block">See
                More</a>
            </div>
          </div>
        </div>

      </div>



      <div class="tab-pane fade " id="record" role="tabpanel" aria-labelledby="recorded-tab">
        <div class="row justify-content-end">
          <div class="btn-group my-3 col-auto" role="group" aria-label="Recorded Courses">
            <button type="button" class="btn btn-primary btn-sm" id="recordPrev">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-chevron-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z">
                </path>
              </svg>
            </button>
            <button type="button" class="btn btn-primary btn-sm" id="recordNext">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
              </svg>
            </button>
          </div>
        </div>

        <div class="RecordedcoursesSlider" id="recordedCourseSlider">
          <div class="card" th:each="courseInfo:${recordedCourse}">
            <img width="230" height="230" th:src="${courseInfo.profilePic.url}" class="card-img-top"
              th:alt="${courseInfo.profilePic.name}" />
            <div class="card-body">
              <h5 class="card-title" th:text="${courseInfo.courseName}">Course Name</h5>

              <p class="card-text" th:text="${courseInfo.teacherName}">Teacher Name</p>
              <p class=" card-text" th:text="${courseInfo.price}">Price</p>
            </div>
            <div class=" card-footer">
              <a th:href="@{/guest/course-detail/{id}(id=${courseInfo.CourseID})}" class="btn btn-primary d-block">See
                More</a>
            </div>
          </div>
        </div>

      </div>






  </section>